<div ng-include src="'templates/element/header.html'"></div>


<div class="container main">

		<div class="col-sm-3" style="marging-top:300px;"ng-include src="'templates/element/sidebar.html'"></div> 

		<div class="col-sm-9 pull-right">
			
			<div class="form-group col-sm-6 pull-right">
			        <input type="text" class="form-control" placeholder="חפש חברותא...">
			</div>

		


			<div class="bs-component col-sm-6 filters">
              <ul class="nav nav-pills">
                <li class="active"><a href="#">רמה</a></li>
                <li><a href="#">מין</a></li>
                <li class="disabled"><a href="#">נסיון</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    סנן <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/#">מתמטיקה</a></li>
                    <li><a href="#">גמרא</a></li>
                    <li><a href="#">חשבון</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>

      </div>
</div>