<div class="panel panel-info">
	<div class="panel-heading">
	  <h3 class="panel-title">מחפשים חברותא</h3>
	</div>
	<div class="panel-body">
	  פה יופיע תוכן חוזר
	</div>
</div>


<div class="panel panel-success">
	<div class="panel-heading">
	  <h3 class="panel-title">פאנל נוסף</h3>
	</div>
	<div class="panel-body">
	  יראה מספר חדרים פועלים
	</div>
</div>


<div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">פאנל אחרון</h3>
    </div>
    <div class="panel-body">
      מומלצים
    </div>
</div>



